node_modules/

dist/
build/
coverage/
.vite/
out/

.vscode/
.idea/

.circleci/
.github/

package-lock.json
yarn.lock
pnpm-lock.yaml
tsconfig*.json
jest.config.*
commitlint.config.*

*.png
*.jpg
*.jpeg
*.svg
*.ico
