.market-page {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: var(--color-background);
}

.market-page__content {
    flex: 1;
    margin: 1rem 5rem;
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
