.footer {
    padding: 2rem;
    background-color: #fff;
    text-align: center;
    color: #aaa;
}

.footer__links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    margin-bottom: 1rem;
}

.footer__links a {
    color: #aaa;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s;
}

.footer__links a:hover {
    color: #fca311;
}

.footer__social {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 1rem;
}

.footer__icon {
    font-size: 1.2rem;
    color: #aaa;
    cursor: pointer;
    transition: color 0.3s;
}

.footer__icon:hover {
    color: #fca311;
}

.footer__bottom {
    font-size: 0.9rem;
    color: #999;
}
